<div class="text-center mb-2">
    <ng-content></ng-content>
</div>

<h4 class="text-center mb-3">{{title}}</h4>

<fieldset class="m-fieldset rounded mx-3 mb-2">
    <legend>Source code</legend>

    <pre class="text-center">{{description}}</pre>
</fieldset>

<fieldset class="m-fieldset rounded mx-3 mb-3">
    <legend>Result</legend>
    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(url)" class="border-0 text-center" width="100%" height="65">Content is not available</iframe>
</fieldset>
