/* You can add global styles to this file, and also import other style files */

$primary: #6c757d;

@import "~bootstrap";

fieldset.m-fieldset {
  border: 1px solid #b0b0b0;
  padding: ($spacer * 0.5) ($spacer * 1.5);
  position: relative;

  legend {
    font-size: 90%;
    padding-left: $spacer * 0.25;
    padding-right: $spacer * 0.25;
    width: inherit;
  }

  .second-legend {
    position: absolute;
    top: $spacer * 0.5 * -1;
    right: $spacer * 1.25;
    background-color: $white;
  }
}
